.flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  font-family: sans-serif;
}

.imgContainer {
  width: 32%;
  margin-top: 30px;
  position: relative;
}

.imgContainer:hover .flavourName {
  visibility: visible;
}

.flavour {
  width: 100%;
}

.flavourName {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
  background-color: rgba(64, 210, 4, 0.6);
  position: absolute;
  bottom: 0px;
  z-index: 1000;
  visibility: hidden;
}

@media (max-width: 1000px) {
  .imgContainer {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .imgContainer {
    width: 70%;
  }
}
